<div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100), class: 'placeholder-image', style: 'width: 100px; height: 100px;' %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <td><%= link_to user.followings.count, user_followings_path(user) %></td>
      </tr>
      <tr>
        <th>followers</th>
        <td><%= link_to user.followers.count, user_followers_path(user) %></td>
      </tr>
    </tbody>
  </table>
  <div class='row d-flex justify-content-center mb-3'>
    <% if current_user != user %>
      <%= render "relationships/btn", user: user %>
    <% end %>
    <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
      <%= link_to 'チャットを始める', chat_path(user.id), class: "ml-3" %>
    <% end %>
  </div>
  <div class="row">
    <% if current_user == user %>
        <%= link_to  edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_path"  do %>
          <i class='fas fa-user-cog'></i>
        <% end %>
    <% end %>
  </div>
  <div><%= link_to "投稿", new_game_path,class: "btn btn-info btn-sm btn-block mb-3 mt-3" %></div>
</div>