<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'user_info', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Games</h2>
      <%= render 'games/index', games: @games %>
      <div>
        <%= form_with url: user_search_path(@user), method: :post, local: false do |f| %>
          <%= f.date_field :created_at %>
          <%= f.submit '検索', class: 'btn btn-primary'  %>
        <% end %>
        <div class="search_result">
          <% if @search_game.present? %>
            <%= render 'search', search_game: @search_game %>
          <% end %>
        </div>
      </div>
      <h2>投稿数の前日比・前週比</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>昨日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @today_games.count %></td>
              <td><%= @yesterday_games.count %></td>
              <td>
                <% if @yesterday_games.count != 0 %>
                  <% day_rate = @today_games.count / @yesterday_games.count.to_f %>
                  <%= (day_rate * 100).round %>%
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>先週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @this_week_games.count %></td>
              <td><%= @last_week_games.count %></td>
              <td>
                <% if @last_week_games.count != 0 %>
                  <% week_rate = @this_week_games.count / @last_week_games.count.to_f %>
                  <%= (week_rate * 100).round %>%
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <canvas id="myChart"></canvas>
      <script src="//cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
  </div>
</div>
<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          <% for i in 0..5 %>
            '<%= 6-i %>日前',
          <% end %>
              '今日'
          ],
      datasets: [{
          label: '投稿した記事の数',
          data: [
            <% for i in 0..6 %>
              <%= @games.created_day_before(6-i).count %>,
            <% end %>
          ],
          borderWidth: 1
      }]
      },
      options: {
        scales: {
          y:{
            min: 0,
            max: 10,
            ticks: {
              stepSize: 1
            }
          }
        }
      }
    });
</script>