<h2><%= params[:user_name] %> 様</h2>
<p>
  グループ名：<%= params[:group_name] %>の<%= params[:owner_name] %>様からメッセージが届きました。<br>
  内容は以下の通りです。<br>
</p>
<p>タイトル：<%= params[:title] %></p>
<p>本文：<%= params[:content] %></p>

<p>Steamers</p>